<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name="expo.modules.sumrakwidget.SumrakWidgetReceiver" android:exported="true" android:label="@string/sumrak_widget_label">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/sumrak_widget_info" />
    </receiver>
  </application>
</manifest>
